<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body ng-app="todoApp">
<h1>Todo App</h1>

<div ng-controller="MainCtrl">
    <div>
        <input type="text" placeholder="Enter Todo" ng-model="newTodo.text">  </input>
        <input type="hidden" ng-model="newTodo.completed" value="false">
        <button ng-click="add()">Add</button>
    </div>
    <br>
    <div ng-repeat="item in todos">
        <div>
            <input type="checkbox" ng-model="item.completed">
            <span ng-bind="item.text"></span>
            <button ng-click="delete($index)">X</button>
        </div>
    </div>
    <div>
        <br/>
        <button ng-click="clear()">Clear Completed</button>
    </div>

</div>
<script src="app/lib/angular.min.js"></script>
<script src="app/scripts/app.js"></script>
</body>
</html>